body {
position: relative;
  height: 90vh;
	font-family: happy-times;
	font-size: 16px;
	line-height: 1.5;
	
	background-color: #ffffff;
	color: #333333;
	margin: 40px auto 40px auto;
	width: 680px;
}

h1 {
	font-size: 50px;
	font-weight: 700;
	margin-left: -140px 
}
img.hidden {
  display: none;
}
p {position:absolute;
  top: 50%;
  font-weight: bold;
font-size: 24px}

img {position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
max-height: 70vh;}

a {text-decoration: none;
color: rgb(51, 51, 51);}

a:hover {text-decoration: line-through;
color: #fed330;}

footer {position: absolute;
bottom: 50px;
}

footer a:hover {text-decoration: underline; color: rgba(56, 182, 189, 1)}


@font-face {
  font-family: 'happy-times';
  src: url("happy.woff");
  font-weight: normal;
}

@font-face {
  font-family: 'happy-times';
  src: url("happy-bold.woff2");
  font-weight: bold;
}